name: build-linux-release
run-name: Building Releases of ${{ github.repository }}
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-application-for-linux:
    runs-on: ubuntu-latest
    name: Build Application for Linux

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      - name: Get dependencies
        run: |
          sudo apt-get update && sudo apt-get install gcc libgl1-mesa-dev libegl1-mesa-dev libgles2-mesa-dev libx11-dev libxinerama-dev xorg-dev

      - name: Get Golang dependencies
        run: go get -v -t -d ./...

      - name: Build for Linux
        run: go build -o bin/movieTransferPreparationTool-linux -v ./...

      


  build-application-for-windows:
    runs-on: windows-latest
    name: Build Application for Windows

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v4
        with:
         go-version: 'stable'

      - name: Get Golang dependencies
        run: go get -v -t -d ./...

      - name: Build for Windows
        run: go build -o bin/movieTransferPreparationTool-win.exe -v ./...

      - name: Create Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Windows Executable
          path: bin/movieTransferPreparationTool-win.exe


      


  release:
    runs-on: ubuntu-latest
    name: Release Erstellen

    needs: [build-application-for-linux, build-application-for-windows]

    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v3

      - name: Create release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          draft: false
          files: |
            movieTransferPreparationTool
            movieTransferPreparationTool.exe