name: build-releases
run-name: Building Releases of ${{ github.repository }}
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-application-for-linux:
    runs-on: ubuntu-latest
    name: Build Application for Linux

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      - name: Get Golang dependencies
        run: go get -v -t -d ./...

      - name: Install Fyne.io
        run: go install github.com/fyne-io/fyne-cross@latest

      - name: Build for Linux
        run: fyne-cross linux

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v3
        with:
          name: linuxExecutable
          path: fyne-cross/dist/linux-amd64/movie-transfer-preparation-tool.tar.xz

  build-application-for-windows:
    runs-on: ubuntu-latest
    name: Build Application for Windows

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      - name: Get Golang dependencies
        run: go get -v -t -d ./...

      - name: Install Fyne.io
        run: go install github.com/fyne-io/fyne-cross@latest

      - name: Build for Linux
        run: fyne-cross windows

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v3
        with:
          name: windowsExecutable
          path: fyne-cross/dist/linux-amd64/movie-transfer-preparation-tool.exe.zip





  release:
    runs-on: ubuntu-latest
    name: Release Erstellen

    needs: [build-application-for-linux, build-application-for-windows]

    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v3

      - name: Create release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          draft: true
          files: |
            fyne-cross/dist/linux-amd64/movie-transfer-preparation-tool.tar.xz
            fyne-cross/dist/linux-amd64/movie-transfer-preparation-tool.exe.zip